{% extends 'layout.html.twig' %}
{% block title %} showCategory {% endblock %}
{% block content %}
    <section>
        <h1>Item {{ cataegory.name }}</h1>
        <ul>

            <li>{{ category.name }}</li>

        </ul>
    </section>


{% endblock %}
