{% extends 'layout.html.twig' %}
{% block title %} showItem {% endblock %}
{% block content %}
    <section>
        <h1>Item {{ item.title }}</h1>
        <ul>

                <li>{{ item.title }}</li>

        </ul>
    </section>

{% endblock %}